
<div class="body">
  <h3>Edit User Details</h3>
  <hr>
  <form [formGroup]="userEditForm" (ngSubmit)="OnSubmit()">
  <h4><u>Role</u></h4>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Role  </label>
    </div>
    <div class="col input-col">
      <ng-container *ngIf="showInput">      
      <mat-form-field appearance="outline" class="smallInput"> <!-- <mat-label>Outline form field</mat-label> -->
        <input matInput disabled [value]="user.roleName">   
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="edit">
        <mat-form-field appearance="outline" class="smallInput">
          <mat-label>Select a Role</mat-label>
          <mat-select   [(value)]="selectedRole" formControlName="RoleId" (selectionChange)="onRoleChange($event.value)">
            <mat-option *ngFor="let role of Roles" [value]="role.id" style="color: black;">
              {{ role.name }}
            </mat-option>
          </mat-select>     
        </mat-form-field>    
     </ng-container>
     <mat-icon matSuffix (click)="changeToEditRole()">mode_edit</mat-icon>
    </div>
   
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Location</label>
    </div>
    <div class="col input-col">
      <ng-container *ngIf="showInputLocation">
        <mat-form-field appearance="outline" class="smallInput">
          <!-- <mat-label>Outline form field</mat-label> -->         
          <input matInput  disabled [value]="user.officeLocation">         
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="editLocation">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Select a Location</mat-label>
            <mat-select [(value)]="selectedLocation" formControlName="LocationId" (selectionChange)="onLocationChange($event.value)">
              <mat-option *ngFor="let location of Locations" [value]="location.id" style="color: black;">
                {{ location.name }}
              </mat-option>
            </mat-select>
      </mat-form-field>
      </ng-container>
      <mat-icon matSuffix (click)="changeToEditLocation()">mode_edit</mat-icon>
    </div> 
     
    
  </div>
  <div class="row">
    <div class="col label-col"> 
      <label class="inputLabel">Valid From</label>
    </div>
    <div class="col input-col">
      <ng-container *ngIf="showInputValidDate">
        <mat-form-field appearance="outline" class="smallInput">
          <!-- <mat-label>Outline form field</mat-label> -->         
          <input matInput  disabled [value]="formattedValidFrom">         
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="editValidDate">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="validFrom">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
      <mat-icon matSuffix (click)="changeToEditValidDate()">mode_edit</mat-icon>
    </div>
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Status</label>
    </div>
    <div class="col input-col">
      <mat-radio-group aria-label="Select an option" formControlName="activeState" (change)="onRadioChange($event.value)">
        <mat-radio-button value="1">Active</mat-radio-button>
        <mat-radio-button value="0">Inactive</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <h4><u>Contact Details</u></h4>
 
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">First Name</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">        
        <input matInput disabled [value]="user.firstName" >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Last Name</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">       
        <input matInput disabled [value]="user.lastName">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Phone Number</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Enter the Phone Number</mat-label>
        <input matInput [disabled]="fieldStates.isPhoneEditable" [value]="user.phone" >
      </mat-form-field>
      <mat-icon matSuffix (click)="toggleFieldState('isPhoneEditable')">mode_edit</mat-icon>
    </div>
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Address</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Enter the Address</mat-label>
        <textarea matInput [disabled]="fieldStates.isAddressEditable" [value]="user.address"></textarea>
      </mat-form-field>
      <mat-icon matSuffix (click)="toggleFieldState('isAddressEditable')">mode_edit</mat-icon>
    </div>
  </div>
  <h4><u>Account Details</u></h4>
  
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">User Name</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">        
        <input matInput disabled disabled [value]="user.username">
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Old Password</label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Enter the Password</mat-label>
        <input matInput [type]="fieldStates.hideOldPassword ? 'password' : 'text'" />
        <button mat-icon-button matSuffix type="button" (click)="toggleFieldState('hideOldPassword')"
         [attr.aria-label]="'Hide password'" [attr.aria-pressed]="fieldStates.hideOldPassword">
          <mat-icon>{{ fieldStates.hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div> -->
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Password </label>
    </div>
    <div class="col input-col">
      
      <button (click)="OnresetPassword()" type="button" class="button1"> Reset Password </button>
    </div>
      </div>

      <ng-container *ngIf="resetPassword">
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">New Password </label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Enter the New Password</mat-label>
        <input matInput [type]="fieldStates.hidePassword ? 'password' : 'text'" formControlName="password"/>
        <button mat-icon-button matSuffix type="button" (click)="toggleFieldState('hidePassword')"
         [attr.aria-label]="'Hide password'" [attr.aria-pressed]="fieldStates.hidePassword">
          <mat-icon>{{ fieldStates.hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col label-col">
      <label class="inputLabel">Confirm New Password </label>
    </div>
    <div class="col input-col">
      <mat-form-field appearance="outline" class="smallInput">
        <mat-label>Re-Enter the New Password</mat-label>
        <input matInput [type]="fieldStates.hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"/>
        <button mat-icon-button matSuffix type="button" (click)="toggleFieldState('hideConfirmPassword')"
         [attr.aria-label]="'Hide password'" [attr.aria-pressed]="fieldStates.hideConfirmPassword">
          <mat-icon>{{ fieldStates.hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

   
  </div>
</ng-container>
    <div class="buttonRow">
        <div class="column">
     <app-admin-button-submit></app-admin-button-submit>
      </div>
      <div class="column">
        <app-admin-button-cancel></app-admin-button-cancel>
        </div>
      </div>
     
</form>
</div>
