.expanded {
    width: 12.5rem;   
}
.contracted{
    width: 4rem;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 0.5rem;
    
    @media screen and (min-width: 600px) {
    
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
  }

mat-sidenav-content{
    padding-top: 0.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 1rem;
    }
}