<div class="card">
    <p-tabView>
    <p-tabPanel header="Users">
        <app-admin-view-user></app-admin-view-user>
    </p-tabPanel>
    <p-tabPanel header="Roles">
        <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Locations">
        <app-location-management></app-location-management>
    </p-tabPanel>
    <p-tabPanel header="Visit Purposes">
        <app-admin-visit-purpose-table></app-admin-visit-purpose-table>
    </p-tabPanel>
    </p-tabView>
</div>                
