.tile-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .tile {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 25%;
    height: auto;
  }
  
  .tile h3 {
    color: white;
    margin: 0 0 10px;
  }
  
  .tile p {
    color: white;
    font-size: 2em;
    margin: 0;
  }
  
  p-table {
    margin-top: 20px;
  }
  
  ::ng-deep .p-datatable tr:hover td {
    background-color: #f1ebff; /* Change to desired hover background color */
  }

  th{
    background-color: #eaeaea;
    color: #896cc7;
  }
  td{
    padding-top: 0  !important;
    padding-bottom: 0 !important;
  }

::ng-deep .p-dialog {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.custom-accept-button {
  background-color: #896CC7 !important;
  color: #ffffff !important;
  border: none !important;
}

.custom-reject-button {
  background-color: #EEEAEA !important;
  color: #000000 !important;
  border: none !important;
}

