:host ::ng-deep .location-dropdown .p-inputwrapper {
  border: 5px solid #896cc7 !important; 
  border-radius: 8px !important;
  color: #896cc7;
  height: 4rem;
  width: 17rem;
  border-radius: 3px;
  margin-right: 1rem;
  
}
::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: rgb(0 0 0 / 96%);
  
}

::ng-deep .p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: rgb(0 0 0);
  width: 2.357rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
// .location{
//   border: 5px solid #896cc7 !important; 
//   border-radius: 8px;
//   height: 4rem;
//   width: 17rem;
//   border-radius: 3px;
//   margin-right: 1rem;
// }
.tile-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100vw;
    //gap: 10px; /* Adjust the gap between tiles as needed */
    overflow: hidden;
  
    @media (max-width: 768px) {
      flex-direction: column;
      // gap: 10px;
    }
  }
  
  app-visitor-log-tiles {
    flex: 1; /* Ensures all tiles have the same width */
    //min-width: 150px; /* Prevents tiles from being too small on smaller screens */
    height: 120px; /* Set a fixed height for the tiles */
  }
  