<div>
    <div class="card" >
        <div class="Table-header">
            <h3>Location Based Security Details </h3>

            <div class="filterarrange">

                <button class="weekly-button">weekly <i class="pi pi-angle-down"></i>
                </button>
                <input *ngIf="showSearch" type="text" (input)="onSearch($event)" placeholder="Search Location..." />
        
            </div>
        </div>

        <p-table [value]="lbSecurityTables" >
            <!-- <ng-template pTemplate="title"> -->
                <h1>Location Based Visitor Details </h1>
            <!-- </ng-template> -->
    

                <ng-template pTemplate="header">
                <tr>
               
                    <!-- <th>
                        <div  style="display: flex; align-items: center;">
                            Location 

                        </div>
                    </th> -->
                    <th pSortableColumn="location" >
                        Location <p-sortIcon field="location" />
                    </th>
                    <th pSortableColumn="securityFirstName" >
                        Security Name<p-sortIcon field="securityFirstName" />
                    </th>
                    <!-- <th pSortableColumn="securityStatus">
                        Security Status<p-sortIcon field="securityStatus"></p-sortIcon>
                        <p-multiSelect [options]="statuses" [(ngModel)]="selectedStatuses" 
                                       defaultLabel="All Statuses" (onChange)="onStatusFilterChange($event)"
                                       styleClass="p-column-filter">
                        </p-multiSelect>
                    </th> -->
                    <th pSortableColumn="status" style="min-width: 10rem">
                        <div style="display: flex; align-items: center; justify-content: center;">
                          Status
                          <p-sortIcon field="status"></p-sortIcon>
                          <p-columnFilter field="status" matchMode="equals" [showMenu]="false" class="ml-auto">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <!-- <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any"> -->
                                <!-- <ng-template let-option pTemplate="item">
                                  <p-tag [value]="option.label" [severity]="getSeverity(option.value)"></p-tag>
                                </ng-template> -->
                              <!-- </p-dropdown> -->
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </th>                    
                      <th pSortableColumn="phoneNumber">
                        Phone Number<p-sortIcon field="phoneNumber" />
                    </th>
                    <th pSortableColumn="visitorsApproved" >
                        Visitors Approved<p-sortIcon field="visitorsApproved" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lbSecurityTable>
                <tr>
                    <td>{{ lbSecurityTable.location }}</td>
                    <td>{{ lbSecurityTable.securityFirstName}}</td>
                    <!-- <td>
                        <span [ngClass]="getStatusClass(lbSecurityTable.securityStatus)">
                            {{ getStatusText(lbSecurityTable.securityStatus) }}
                        </span>
                    </td> -->
                    <td>
                        <p-tag [value]="getStatusText(lbSecurityTable.status)" [severity]="getSeverity(lbSecurityTable.status)"></p-tag>
                    </td>
                    <td>{{ lbSecurityTable.phoneNumber}}</td>
                    <td>{{ lbSecurityTable.visitorsApproved }}</td>
                  </tr>
            </ng-template>
        </p-table>

    </div>