.tile {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 25%;
    height: auto;
  }
  
  .tile h3 {
    color: white;
    margin: 0 0 10px;
  }
  
  .tile p {
    color: white;
    font-size: 2em;
    margin: 0;
  }
  