.top-bar{
    width: 100%;
    height: 20px;
    background-color: #896cc7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    padding-top:22px;

}
.top-bar img{
    width: 100%;
    height: 30px;
}

.user-container mat-icon {
    cursor: pointer;
    font-size: 26px;
}


