<div class="card-container">
<div class="visitor-card" #visitorCard>
    <div class="photo-area">
      <div class="photo-placeholder">Photo</div>
    </div>
    <div class="info-area">
      <div class="visitor-id">Visitor T-51</div>
      <div class="name-placeholder">Name</div>
      <div class="purpose-placeholder">Purpose of Visit</div>
      <div class="company-logo">
        <img src="logo.png" alt="Experion Technologies">
      </div>
      <div class="address">4th floor, Thejaswini, Technopark, Trivandrum - 695581</div>
    </div>

  </div>
  <button class="download-btn" (click)="downloadAsPdf()">Download</button>
</div>
