<div class="role-form-container">
    <h2>{{ isEditMode ? 'Edit Role' : 'Add Role' }}</h2>
    <div class="line"> </div>
    <form [formGroup]="roleForm" (ngSubmit)="createRole()">
      <div>
        <label for="role">Role:</label>
        <input id="role" formControlName="role" placeholder="Enter role name">
      </div>
      <div formGroupName="permissions">
        <h3>Role Permissions</h3>
        <div *ngFor="let page of pages">
          <input type="checkbox" [id]="page.id.toString()" [formControlName]="page.id.toString()">
          <label [for]="page.id.toString()">{{page.name}}</label>
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="submit-btn">Submit</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">CANCEL</button>
      </div>
    </form>
    <!-- <form [formGroup]="roleForm" (ngSubmit)="createRole()">
      <div class="form-group1">
        <label for="role">Role:</label>
        <input id="role" formControlName="role" placeholder="Admin">
      </div>
      <div class="form-group">
        <h3> <u>Role Permissions</u></h3><div formGroupName="permissions" class="checkbox-group">
          <div *ngFor="let page of pages" class="checkbox-item">
            <input type="checkbox" [id]="page.pageId" [formControlName]="page.pageId">
            <label [for]="page.pageId">{{page.pageName}}</label>
          </div>
        </div> -->
        <!-- <div formGroupName="permissions" class="checkbox-group">
          <div class="checkbox-item">
            <input type="checkbox" id="visitorLog" formControlName="visitorLog">
            <label for="visitorLog">Visitor Log</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="adminDashboard" formControlName="adminDashboard">
            <label for="adminDashboard">Admin/Ace Dashboard</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="reports" formControlName="reports">
            <label for="reports">Reports</label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" id="adminSettings" formControlName="adminSettings">
            <label for="adminSettings">Admin Settings</label>
          </div>
        </div> -->
      <!-- </div>

      <div class="button-group">
        <button type="submit" class="submit-btn">Submit</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">CANCEL</button>
      </div> -->
    <!-- </form> -->