.confirmation-message {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .arrow-mark {
    cursor: pointer;
    color: blue;
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .arrow-mark:hover {
    color: darkblue;
  }
  