
        
<div class="dashboard-tiles">
    <app-tiles [title]="'Active Visitors'" [value]="visitorCount" [backgroundColor]="'#896CC7'" [icon]="'pi-users'"></app-tiles>
    
    <app-tiles [title]="'Total visitors'" [value]="totalVisitors" [backgroundColor]="'#FF858C'" [icon]="'pi-users'"></app-tiles>
    <app-tiles [title]="'Checked Out Visitors'" [value]="ScheduledVisitors" [backgroundColor]="'#952991'" [icon]="'pi-users'"></app-tiles>
</div>
<div class="charts">
    <div class="barChart">
        <app-location-chart></app-location-chart>
        <div><div class="legend">
            <div class="legend-item">
              <span class="legend-color forms-submitted"></span>
              <span class="legend-label">Forms Submitted</span>
            </div>
            <div class="legend-item">
              <span class="legend-color active-visitors"></span>
              <span class="legend-label">Active Visitors</span>
            </div>
            <div class="legend-item">
              <span class="legend-color total-visitors"></span>
              <span class="legend-label">Total Visitors</span>
            </div>
          </div></div>
    </div>
    <div class="pieChart">
        <app-purpose-pie></app-purpose-pie>
    </div>
</div>
<div class="tables">
    <div class="table1">
        <app-location-visitortable></app-location-visitortable>

    </div>
    <div class="table2">

    </div>

</div>
<div class="locationsecuritytable">
<app-location-security-table ></app-location-security-table>


</div>