<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Upcoming Visitors
                    </span>
                </div>
            </ng-template>
            <app-upcoming-visitor-table></app-upcoming-visitor-table>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Active Visitors
                    </span>
                </div>
            </ng-template>
            <app-active-visitor-table></app-active-visitor-table>
        </p-tabPanel>
    </p-tabView>
</div>
